/*전체 페이지 css 스타일 시트, 시작과 끝에 사용페이지 명칭, 용도 작성바람*/

/* footer.php footer용 시작*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: acumin-pro, system-ui, sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer>* {
  flex: 1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav>* {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav>* {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

/* footer.php footer용 끝*/

/* sidebar.php 사이드바css 시작*/
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* sidebar.php 사이드바css 끝*/

/*inquiry_popup.php popup 시작*/
.popup_layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

/*팝업 박스*/
.popup_box {
  position: relative;
  top: 50%;
  left: 50%;
  overflow: auto;
  height: 600px;
  width: 375px;
  transform: translate(-50%, -50%);
  z-index: 1002;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

/*컨텐츠 영역*/
.popup_box .popup_cont {
  padding: 50px;
  line-height: 1.4rem;
  font-size: 14px;
}

.popup_box .popup_cont h2 {
  padding: 15px 0;
  color: #333;
  margin: 0;
}

.popup_box .popup_cont p {
  border-top: 1px solid #666;
  padding-top: 30px;
}

/*버튼영역*/
.popup_box .popup_btn {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 70px;
  background: #ECECEC;
  word-break: break-word;
}

.popup_box .popup_btn a {
  position: relative;
  display: table-cell;
  height: 70px;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background: #ECECEC;
}

.popup_box .popup_btn a:before {
  content: '';
  display: block;
  position: absolute;
  top: 26px;
  right: 29px;
  width: 1px;
  height: 21px;
  background: #fff;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup_box .popup_btn a:after {
  content: '';
  display: block;
  position: absolute;
  top: 26px;
  right: 29px;
  width: 1px;
  height: 21px;
  background: #fff;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup_box .popup_btn a.close_day {
  background: #5d5d5d;
}

.popup_box .popup_btn a.close_day:before,
.popup_box .popup_btn a.close_day:after {
  display: none;
}

/*오버레이 뒷배경*/
.popup_overlay {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1001;
  ;
  background: rgba(0, 0, 0, 0.5);
}

/*inquiry_popup.php popup 끝*/

/*admin_main.php 도넛차트 시작*/


/*admin_main.php 도넛차트 끝*/

/* admin_main.php 상단부분 */
.head_side {
  display: flex;
  justify-content: flex-end;
}

.head_side_item {
  word-spacing: 10px;
}
.head_side_item a:link, a:visited, a:active {
  color:gray;
  text-decoration: none;
}

.head_side_item a:hover {
  color: black;
  text-decoration: none;
}
/* admin_main.php 상단부분 끝 */



/* 테이블 type1 css */
table.type1 {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

table.type1 thead th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: rgb(150, 130, 130);
}

table.type1 tbody th {
  width: 150px;
  padding: 10px;
}

table.type1 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}

table.type1 td.post_delete {
  width: 150px;
  padding: 10px;
  vertical-align: top;
}
/* 테이블 type1 css 끝 */

/* 페이징 css */
.page1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

table.page2 a:link, a:visited, a:active {
  color: rgba(6, 29, 134, 0.747);
  text-decoration: none;
}
table.page2 a:hover{
  color: orange;
}

.post_searchbox {
  display: flex;
  position: absolute;
  left: 72%;
}

.category_searchbox {
  display: flex;
  position: absolute;
  left: 3px;
}

.category_searchbox1 {
  width: 390px;
}

.member_searchbox {
  display: flex;
  position: absolute;
  right: 4%;
}
/* 페이징 css 끝 */

/* 버튼 기본 css */
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
  background: var(--button-bg-color);
  color: var(--button-color);
  
  margin: 0;
  padding: 0.5rem 1rem;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  
  border: none;
  border-radius: 4px;
  
  display: inline-block;
  width: auto;
  
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  
  cursor: pointer;
  
  transition: 0.5s;
}

button:active, button:hover, button:focus {
  background: var(--button-hover-bg-color);
  outline: 0;
}
button:disabled {
  opacity: 0.5;
}
/* 버튼 기본 css 끝 */

/* 버튼 개별 css */
button.btn_search {
  --button-bg-color: #312dee;
  --button-hover-bg-color: #5451ee;
  color: white;
  margin-left: 10px;
}
button.btn_delete {
  --button-bg-color: red;
  --button-hover-bg-color: #e75463;
}

button.btn_add {
  --button-bg-color: rgb(52, 238, 83);
  --button-hover-bg-color: rgb(28, 221, 60);
  margin-left: 5px;
  margin-top: 5px;
}
button.btn_edit {
  --button-bg-color: rgb(216, 213, 213);
  --button-hover-bg-color: #eee;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button.btn_qa_ans {
  --button-bg-color: rgb(216, 213, 213);
  --button-hover-bg-color: #eee;
}
/* 버튼 개별 css 끝 */

.category_inputbox {
  padding: 10px;
}
/* nav_main.php 작성 */
.topnav {
  background-color: #333;
  font-size: 17px;
  color: #f2f2f2;
  padding: 14px 16px;
}

.topnav a {
  text-decoration: none;
  color: black;
}
.topnav a.active {
  padding: 20px 20px;
  background-color: #04AA6D;
  color: white;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.category > li {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 100px;
  padding: 14px 16px;
}

ul.category > li:hover {
  background: #fff;
  color: black;
}

ul.category > li ul.subitem {
  display: none;
  position: absolute;
  top:50px; 
  left:0;
}

ul.category > li ul.subitem > li {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 100px;
  padding: 14px 16px;
}

ul.category > li:hover ul.subitem { 
  display:block; 
  z-index: 2;
  background: #ddd;
}

ul.category > li ul.subitem > li:hover { 
  background:#fff; 
  
}

/* nav_main.php 끝 */

/* inquiry 상단 선택박스 */
.cb_ans {
  position: absolute;
  padding: 5px;
}




/* main.php 시작 */

.h_title {
  position: relative;
  z-index: 1;
  left: 15%;
}

li.img_wrapper {
  width: 10%;
}

img {
  max-width: 100%;
  height: auto;
}

/* 추천 아이템 */

.recommend_list {
  width: 70%;
  height: 500px;
  overflow: hidden;
  border: 1px solid #888;
  margin: 10px auto;
  padding: 5px;
}

.recommend_list:after {
  content: "";
  display: block;
  clear: both;
}

.recommend_list li {
  float: left;
  border: 1px solid #888;
  margin: 44px;
}

.recommend_list li a {
  display: block;
  color: black;
  text-decoration: none;
}

.recommend_list li a b {
  display: block;
  padding: 5px;
  line-height: 1.5;
}

/* 최신 게시물 */


.post_list {
  width: 70%;
  border: 1px solid #888;
  margin: 10px auto;
  padding: 5px;
}

.post_list:after {
  content: "";
  display: block;
  clear: both;
}

.post_list li a {
  display: block;
  color: black;
  text-decoration: none;
}

.post_list li a b {
  display: block;
  padding: 5px;
  line-height: 1.5;
}

table.main_post {
  border-collapse: collapse;
}

table.main_post tr{
  border-bottom: 1px solid rgb(175, 175, 175);
  width: auto;
}

table.main_post tr.main_post_tr {
  border-bottom:1px solid #5451ee;
  width: 100%;
}

table.main_post th {
  width: 50px;
  white-space: nowrap;
  padding: 3px;
}

table.main_post th.main_post_category {
  width: 100px;
}
table.main_post th.main_post_title {
  width: 900px;
}
table.main_post th.main_post_writer {
  width: 100px;
}

table.main_post th.main_post_date {
  width: 80px;
}

table.main_post td {
  text-align: center;
  padding: 3px;
}

table.main_post td.main_post_title {
  display: inline-block;
  text-align: left;
  width: 850px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

table.main_post td.main_post_title a{
  color: black;
  text-decoration: none;
}

/*user_board_form.php 시작 */
.user_board {
  width: 80%;
  margin: auto;
}

form.user_board_form {
  border: 2px solid#888;
  border-top: 2px solid#f36303;
  border-bottom: 2px solid#f36303;
  padding: 50px;
  margin-bottom: 50px;
}

.user_board_title {
  white-space: nowrap;
  margin-bottom: 20px;
}

form.user_board_form input.user_board_input {
  width: 45%;
  line-height: 35px;
  height: 35px;
}

.user_board_category{
  height: 35px;
}

.text_area {
  border-top: 2px solid#f36303;
  margin-bottom: 50px;
  padding: 10px;
}

.user_board_content {
  margin-top: 10px;
  width: 100%;
  resize: vertical;
}

.text_area button {
  position: relative;
  float: right;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70px;
  height: 50px;
}

/*user_board_form.php 시작 */


/*user_board_list.php 시작 */

.user_board_list {
  width: 80%;
  margin: auto;
}

.user_board_list h1{
  border-bottom: 2px solid#f36303;
}

table.board_list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 5px;
  border-bottom: 2px solid#f36303;
}

table.board_list thead th {
  width: 3%;
  margin-bottom: 5px;
}

table.board_list thead th.title {
  width: 50%;
}

table.board_list thead th.category {
  width: 6%;
}

table.board_list thead th.date {
  width: 6%;
}

table.board_list thead tr {
  border-bottom: 1px solid#f36303;
}

table.board_list tbody tr {
  border-bottom: 1px solid rgb(202, 200, 200);
}

table.board_list tbody td {
  text-align: center;
  height: 30px;
}

table.board_list tbody th.title {
  text-align: left;
}

table.board_list tbody th.title a{
  color: #111;
  text-decoration: none;
}

.btn_wirte_area {
  display: flex;
  justify-content: flex-end;
}

button.btn_write {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user_board_searchbox {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.user_board_searchbox select {
  width: 100px;
  height: 35px;
  margin-left: 10px;
}

.user_board_searchbox input {
  line-height: 35px;
  width: 300px;
  height: 35px;
  margin-left: 10px;
}

.user_board_searchbox button {
  height: 35px;
  margin-left: 10px;
}

/*user_board_list.php 끝 */

/* user_board_view.php 시작 */

.user_board_box {
  width: 80%;
  margin: auto;
}

.user_board_box h1{
  border-bottom: 2px solid#f36303;
  height: 50px;
}

.user_board_box b{
  font-size:17px;
}

.btn_modify_area{
  display: flex;
  justify-content: right;
  border-bottom: 1px solid#f36303;
}

button.btn_modify {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button.btn_list {
  width: 100px;
  height: 40px;
}

.view_board_title {
  width: 100%;
  border-bottom: 1px solid#888;
}

.view_board_content {
  display: table;
  height: auto;
  min-height: 500px;
}

.view_board_content span {
  display: table-cell;
  vertical-align: middle;
  padding: 20px;
  word-break: break-all;
}


.view_board_title td.id{
  width: 5%;
  text-align: center;
  border-right: 1px solid#888;
  padding: 5px;
}

.view_board_title td.data {
  text-align: left;
  padding: 5px;
}

.view_board_title td.hit{
  width: 5%;
  text-align: center;
  padding: 5px;
}

.view_board_title td.recommend{
  width: 5%;
  text-align: center;
  border-left: 1px solid#888;
  padding: 5px;
}

button.btn_up, button.btn_down {
  border: none;
}

button.btn_up:hover, button.btn_down:hover{
  cursor: pointer;
}

button.btn_up, button.btn_down img {
  width: 70px;
  height: 70px;
}

.user_board_updown {
  display: flex;
  justify-content: center;
}